/*=============== FOOTER SECTION ===============*/
.footer {
    background-color: #053862;
    color: #e9ecef;
    padding: 60px 0px 0px 0pc;
    font-size: 14px;
}

.footer-top {
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
    padding-bottom: 40px;
}

.footer-about {
    flex: 1;
    min-width: 250px;
}

.footer-logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.footer-logo img {
    width: 47px;
    height: 47px;
    margin-right: 12px;
    filter: brightness(0) invert(1);
    /* Makes the logo white */
}

.footer-logo span {
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.footer-about p {
    font-family: inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0px;
    color: #fff;
    width: 290px;
}

.footer-links-container {
    padding-top: 40px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    flex: 2;
    justify-content: space-between;
}

.link-column {
    min-width: 174px;
}

.link-column h4 {
    font-family: inter, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0px;
    color: white;
    margin-top: 0;
    margin-bottom: 20px;
}

.link-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link-column li {
    margin-bottom: 12px;
    font-family: inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0px;
    color: #adb5bd;
}

.link-column a {
    color: #adb5bd;
    text-decoration: none;
    transition: color 0.2s;
}

.link-column a:hover {
    color: white;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);

}

.copyright {
    color: #adb5bd;
}

.social-icons {
    display: flex;
    gap: 20px;
}

.social-icons a {
    color: #adb5bd;
    text-decoration: none;
    transition: color 0.2s;
}

.social-icons a:hover {
    color: white;
}

.social-icons svg {
    width: 20px;
    height: 20px;
}

/* Additional Responsive Adjustments */
@media (max-width: 992px) {
    .footer-links-container {
        justify-content: flex-start;
    }
}

@media (max-width: 768px) {

    .footer-top,
    .footer-bottom {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-bottom {
        gap: 20px;
    }
}

.logo {
    width: 32px;
    height: 32px;
    margin-right: 12px;

}