body {
    font-family: "Inter Tight", sans-serif;
    background-color: #FFFFFF;

}

/* Header Styles (from previous examples) */
.navbar-brand {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.5rem;
    color: #0d2a4f !important;
}

.navbar-brand img {
    width: 50px;
    height: 50px;
}

.navbar-brand span {
    font-family: Inter Tight;
    font-size: 40px;
    font-weight: 700;
    color: #000 !important;
}

.nav-link {
    font-family: Inter Tight;
    font-size: 14px;
    font-weight: 600;
    color: #343434;
    margin: 0 15px;
    line-height: 100%;
    letter-spacing: 0px;
}

.nav-link:hover {
    color: #053862 !important;
    text-decoration: underline;
    text-decoration-color: #053862;
    text-decoration-thickness: 1px;
}

.nav-link.active {
    color: #053862 !important;
    text-decoration: underline;
    text-decoration-color: #053862;
    text-decoration-thickness: 1px;
}

.support-info {
    line-height: 1.2;
}

.support-info span {
    font-size: 0.8rem;
    color: #6c757d;
}

.support-info a {
    font-weight: 500;
    color: #0d2a4f;
    text-decoration: none;
}

.contact-btn {
    background-color: #0d2a4f;
    border-color: #0d2a4f;
    font-weight: 500;
    opacity: 1;
    padding: 10px 24px;
    border-radius: 6px;
    border-width: 1px;
}

.dropdown-toggle::after {
    display: none !important;
}