html {
    scroll-behavior: smooth;
}

/* Hero Section */
.hero-layout {
    display: flex;
    align-items: center;
    position: relative;
}

.hero-text {
    flex-basis: 55%;
    padding-right: 40px;
    position: relative;
    padding-bottom: 194px;
    margin-left: 108px;
}

.hero-text h1 {
    font-family: Inter Tight;
    font-size: 60px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0px;
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1.2;
}

.hero-text h1 span {
    font-family: Inter Tight;
    font-size: 60px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0px;
    margin-top: 0;
    color: #053862;
}

.hero-text p {
    font-family: Inter Tight;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    line-height: 120%;
}

.search-container {
    position: absolute;
    left: 0;
    width: 110%;
    background-color: #fff;
    padding: 18px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    z-index: 10;
}

.search-container h3 {
    margin-top: 0;
    font-weight: 600;
}

.search-bar {
    display: flex;
    margin-bottom: 15px;
}

.search-bar input {
    flex-grow: 1;
    padding: 14px;
    border: 1px solid #ced4da;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 15px;
}

.search-bar a {
    padding: 14px 25px;
    border: none;
    background-color: #0d2d52;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 15px;
}

.filters {
    display: flex;
    gap: 10px;
}

.filter-btn {
    padding: 10px 15px;
    border: 1px solid #ddd;
    background-color: #E6EBEF;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    font-weight: 500;
    color: #053258;

}

.hero-image {
    flex-basis: 45%;
    align-self: stretch;
    min-height: 500px;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Info Section */
.info-section {
    background-color: #F7F7F7;
    margin-top: 79px;
    padding: 60px 120px;
}

.info-content {
    display: flex;
    align-items: center;
    gap: 40px;
}

.info-icon img {
    width: 167px;
    height: 167px;
    object-fit: contain;
}

.info-text h2 {
    font-family: Inter Tight;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: 0px;
    margin-bottom: 20px;
}


.info-text h2 span {
    color: #0056b3;
}

.info-description p {
    font-family: Inter Tight;
    font-weight: 400;
    font-style: regular;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0px;
    color: #555;
}

.info-description a {
    color: #0056b3;
    text-decoration: none;
    font-weight: bold;
}

/* ------------ Responsive Design ------------ */

@media (max-width: 1400px) {
    .navbar-brand img {
        width: 40px !important;
        height: 40px !important;
    }

    .navbar-brand span {
        font-size: 30px !important;
    }

    .nav-link {
        font-size: 13px !important;
        font-weight: 500 !important;
    }

    .contact-btn {
        padding: 8px 20px !important;
        font-size: 14px !important;
    }

    .hero-text h1 {
        font-size: 45px !important;
    }

    .hero-text span {
        font-size: 45px !important;
    }

    .hero-text p {
        font-size: 15px !important;
    }

    .filter-btn {
        font-size: 14px !important;
        padding: 8px 12px !important;
    }

    .footer-links-container {
        gap: 15px !important;
    }
}

@media (max-width: 1200px) {
    .navbar-brand img {
        width: 30px !important;
        height: 30px !important;
    }

    .navbar-brand span {
        font-size: 25px !important;
    }

    .nav-link {
        font-size: 12px !important;
        font-weight: 500 !important;
    }

    .support-info span {
        font-size: 12px !important;
    }

    .support-info a {
        font-size: 12px !important;
    }

    .link-column {
        min-width: 110px !important;
    }

    .slider-arrow {
        width: 30px !important;
        height: 30px !important;
        font-size: 16px !important;
    }

    .slider-arrow.next {
        right: -30px !important;
    }

    .slider-arrow.prev {
        left: -30px !important;
    }

    .section-header h2 {
        font-size: 40px !important;
    }

    .hero-text h1 {
        font-size: 38px !important;
    }

    .hero-text p {
        font-size: 14px !important;
    }

    .info-icon img {
        width: 140px;
        height: 140px;
        object-fit: contain;
    }

    .info-text h2 {
        font-size: 22px !important;
        font-weight: 600 !important;
    }

    .info-description p {
        font-size: 14px !important;
    }

    .filter-btn {
        font-size: 13px !important;
        padding: 7px 10px !important;
    }

}

@media (max-width: 992px) {
    .container {
        max-width: 850px !important;
    }

    .desktop-nav {
        display: none;
        /* Hide desktop nav */
    }

    .hamburger-menu {
        display: block;
        /* Show hamburger icon */
    }

    .hero-layout {
        flex-direction: column;
        padding-top: 40px !important;
    }

    .hero-text {
        flex-basis: auto;
        text-align: center;
        padding-right: 0;
        padding-bottom: 40px;
        margin: 0 auto;
    }

    .hero-image {
        width: 100%;
        margin-top: 20px;
        min-height: 300px;
    }

    .search-container {
        position: relative;
        width: 100%;
        left: 0;
        bottom: 0;
        margin-top: 30px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);
    }

    .info-content {
        flex-direction: column;
        text-align: center;
    }

    .info-text {
        order: 1;
    }

    .info-icon {
        order: 2;
    }

    .info-description {
        order: 3;
    }

    .stat-box {
        padding: 12px 25px !important;
    }

    .stat-number {
        font-size: 24px !important;
    }

    .stat-label {
        font-size: 15px !important;
    }

    .footer-top {
        flex-direction: column !important;
    }

    .footer-links-container {
        gap: 27px !important;
    }

    .link-column {
        min-width: 150px !important;
    }

    .treatment-services {
        padding: 40px 20px !important;
        margin: 50px auto !important;
    }

    .header-text p {
        font-size: 16px !important;
    }

    .process-card h3 {
        font-size: 18px !important;
    }

    .process-card p {
        font-size: 13px !important;
    }
}

@media (max-width: 768px) {
    .hero-section {
        padding: 0 30px !important;
    }

    .container {
        max-width: 700px !important;
    }

    .slider-arrow.prev {
        left: -50px !important;
    }

    .slider-arrow.next {
        right: -50px !important;
    }

    .logo-grid img {
        flex: 0 1 calc(33.33% - 38px) !important;
        max-width: calc(33.33% - 38px) !important;
    }

    .footer-links-container {
        gap: 27px !important;
    }

    .link-column {
        min-width: 150px !important;
    }

    .footer-links-container {
        gap: 15px !important;
    }

    .link-column {
        min-width: 150px !important;
    }

    .process-grid {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .destinations-section {
        margin-top: 280px !important;
    }
}

@media (max-width: 660px) {
    .container {
        max-width: 600px !important;
    }

    .slider-arrow.prev {
        left: -30px !important;
    }

    .slider-arrow.next {
        right: -30px !important;
    }

    .header-text h2 {
        font-size: 28px !important;
    }

    .header-text p {
        font-size: 13px !important;
    }

    .destinations-section {
        margin-top: 320px !important;
    }

    .section-header h2 {
        font-size: 35px !important;
    }
}

@media (max-width: 576px) {
    .slider-arrow.prev {
        display: none !important;
    }

    .slider-arrow.next {
        display: none !important;
    }

    .hero-text h1 {
        font-size: 38px;
    }

    .filters {
        flex-direction: column;
    }

    .filter-btn {
        justify-content: center;
    }

    .info-text h2 {
        font-size: 20px !important;
    }

    .section-header h2 {
        font-size: 32px !important;
    }

    .process-grid {
        grid-template-columns: 1fr !important;
    }

    .how-it-works-container {
        height: auto !important;
    }

    .destinations-section {
        margin-top: 50px !important;
    }

    .how-it-works-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .how-it-works-header .header-text {
        width: 100%;
    }

    .how-it-works-header {
        gap: 10px !important;
    }

    .learn-more-btn {
        margin-bottom: 20px !important;
    }
}

@media (max-width: 425px) {
    .hero-section {
        padding: 0 17px !important;
    }

    .hero-text h1 {
        font-size: 30px !important;
    }

    .hero-text span {
        font-size: 30px !important;
    }

    .hero-text p {
        line-height: 160% !important;
    }

    .hero-image {
        min-height: 200px !important;
    }

    .info-section {
        padding: 20px 30px !important;
    }

    .header-text h2 {
        font-size: 24px !important;
    }

    .header-text p {
        font-size: 15px !important;
    }
}

.rounded-left-bottom {
    border-radius: 0 0 0 99px;
}

/* Treatment Services Section */
.treatment-services {
    padding: 80px 20px;
    text-align: center;
    /* border-top: 2px solid #007bff;
        border-bottom: 2px solid #007bff; */
    margin: 60px auto;
}

.section-header h2 {
    font-family: Inter Tight;
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0px;
    text-align: center;
}

.section-header p {
    font-family: Inter Tight;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #565656;
    max-width: 600px;
    margin: 0 auto 30px;
    text-align: center;
}

.treatments-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.treatment-tag {
    display: inline-block;
    text-decoration: none;
    color: #333;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    padding: 10px 20px;
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
}

.treatment-tag:hover {
    background-color: #e9ecef;
    border-color: #adb5bd;
}

/* How It Works Section */
.how-it-works-section {
    padding: 0px 0px 60px 0;
}

.how-it-works-container {
    background-color: #0d2d52;
    color: white;
    padding: 35px;
    border-radius: 20px;
    height: 299px;
}

.how-it-works-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.header-text h2 {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 10px;
    font-style: bold;
    line-height: 120%;
    letter-spacing: 0px;
}

.header-text p {
    font-family: Inter Tight;
    font-size: 18px;
    color: #e9ecef;
    max-width: 490px;
    line-height: 125%;
    font-weight: 400;
    font-style: normal;
}

.learn-more-btn {
    background-color: white;
    color: #0d2d52;
    padding: 12px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    flex-shrink: 0;
    /* Prevents the button from shrinking */
}

.process-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 10px;
    /* This creates the overlap effect */
    position: relative;
    z-index: 5;
}

.process-card {
    background-color: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.07);
    text-align: left;
}

.process-icon {
    width: 48px;
    height: 48px;
    margin-bottom: 5px;
}

.process-card h3 {
    font-family: Inter Tight;
    font-weight: 500;
    font-style: medium;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0px;
    color: #343434;

}

.process-card p {
    font-family: Inter Tight;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #5C5C5C;
    line-height: 120%;
    letter-spacing: 0px;
}

/*=============== SLIDER & CARD STYLES (Used by both new sections) ===============*/
.destinations-section,
.explore-treatment-section {
    padding: 80px 0;
}

.destinations-section {
    background-color: #F7F7F7;
    margin-top: 170px;
}

.slider-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* optional spacing between arrow and cards */
    margin: 0 auto;
    /* center the container in its parent */
    max-width: 100%;
    /* prevent overflow */
}

.slider-grid {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    /* Enables native touch scrolling on mobile */
    scroll-behavior: smooth;
    /* Smooth scrolling for button clicks */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    padding-bottom: 10px;
    /* Space for content */
    cursor: grab;
    /* Indicates the element is draggable */
    user-select: none;
    /* Prevents text selection while dragging */
}

.slider-grid.active {
    cursor: grabbing;
    /* Changes cursor during drag */
}

.slider-grid::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar for Chrome, Safari, and Opera */
}

.slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.prev-arrow {
    left: -20px;
}

.next-arrow {
    right: -20px;
}

.card-content {
    padding: 20px 5px;
}

.card-title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.card-title-bar h3 {
    font-family: Inter Tight;
    font-weight: 600;
    font-style: semi-bold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0px;
    margin: 0;
}

.rating {
    font-weight: bold;
    color: #053862;
    white-space: nowrap;
}

.rating .star {
    color: #FFC107;
    /* Gold color for stars */
    margin-right: 2px;
}

.view-all-btn {
    display: block;
    width: fit-content;
    margin: 40px auto 0;
    padding: 16px 24px;
    background-color: #053862;
    color: white;
    text-decoration: none;
    font-family: manrope;
    font-size: 18px;
    line-height: 13px;
    letter-spacing: 0px;
    font-weight: 600;
    border-radius: 6px;
}

/* Destination Card Specifics */
.destination-card {
    border-radius: 12px;
    overflow: hidden;
    flex: 0 0 270px;
    /* Do not shrink, base width of 270px */
}

.destination-card img {
    width: 100%;
    height: 240px;
    object-fit: cover;
}

.card-subtitle {
    font-family: Inter Tight;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #737373;
    line-height: 0;
    letter-spacing: 0px;
    margin-bottom: 10px;
}

.card-details {
    display: flex;
    gap: 8px;
    margin-top: 15px;
    font-size: 14px;
    border-radius: 25px;
    padding: 8px 12px;
    border: 1px solid #D4D4D4
}

.card-details span {
    display: flex;
    font-family: Inter Tight;
    font-weight: 500;
    font-style: medium;
    font-size: 17px;
    line-height: 0;
    letter-spacing: 0px;
    color: #343434;
    align-items: center;
    gap: 5px;
}

.card-details svg {
    width: 16px;
    height: 16px;
    fill: #6c757d;
}

.line {
    font-family: Inter Tight;
    font-weight: 500;
    font-style: medium;
    font-size: 18px;
    line-height: 0;
    letter-spacing: 0px;
    vertical-align: middle;
}

/* Treatment Card Specifics */
.treatment-card {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid #e9ecef;
    flex: 0 0 270px;
}

.treatment-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.location {
    font-size: 14px;
    color: #6c757d;
    margin: 0 0 5px 0;
}

.price {
    font-size: 14px;
    color: #555;
    margin: 5px 0 0 0;
}

/* Responsive adjustments for new sections */
@media (max-width: 992px) {
    .slider-arrow {
        display: none;
        /* Hide arrows on tablets and mobile, rely on swipe */
    }
}

@media (max-width: 576px) {

    .destinations-section,
    .explore-treatment-section {
        padding: 60px 0;
    }

    .slider-grid {
        padding-left: 20px;
        /* Add padding to see the start of the scroll */
        padding-right: 20px;
        margin-left: -20px;
        /* Make it full-width */
        margin-right: -20px;
    }
}

/*=============== POPULAR HOSPITALS SECTION ===============*/
.popular-hospitals-section {
    padding: 80px 0;
    background-color: #F7F7F7;
}

.hospital-card {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid #e9ecef;
    flex: 0 0 270px;
}

.hospital-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.hospital-card h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    margin: 0;
}

.hospital-card .location {
    font-size: 14px;
    color: #6c757d;
    margin: 8px 0 0 0;
    display: flex;
    align-items: center;
    gap: 5px;
}

.hospital-card .location svg {
    width: 16px;
    height: 16px;
}

/*=============== BLOGS SECTION ===============*/
.blogs-section {
    padding: 80px 0;
}

.blogs-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 40px;
}

.blog-card {
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.blog-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.blog-content {
    padding: 20px;
}

.blog-content h3 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 10px;
}

.blog-content p {
    font-size: 14px;
    color: #6c757d;
    line-height: 1.6;
    margin-bottom: 15px;
}

.blog-content a {
    color: #0056b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

/* Additional Responsive Adjustments */
@media (max-width: 992px) {
    .blogs-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .blogs-grid {
        grid-template-columns: 1fr;
    }

    .popular-hospitals-section {
        padding: 60px 0;
    }
}